.Shop_container {
    display: flex;
    justify-content: flex-start;
}

.product_content {
    width: 75%;
    padding: 20px 15px;
}

.Product_item {
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    margin: 15px 5px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.product_image {
    width: 30%;
}

.product_image img {
    width: 100%;
}

.product_details {
    width: 65%;
}

.product_details h2 {
    font-size: 20px;
    font-family: arial;
    color: #ff5722;
}

.Cart{
    padding: 10px;
}